# Copy this file to .env and fill values
SUPABASE_URL=https://hsyzkswgidpqnmcshavm.supabase.co
SUPABASE_KEY=sb_publishable_Qd_RnFjwRycfOTpLab5-Hw_WLPYNzj2

# Optional
PORT=3000
BASE_URL=https://backend-repo-izx5.onrender.com
